@model IEnumerable<MovieTicketBooking.Models.UserBookings>
@{
    ViewBag.Title = "MyBookings";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/Content/customcss/myBookings.css" rel="stylesheet" />
<h2>My bookings</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Movie name</th>
                <th>Show date</th>
                <th>Start time</th>
                <th>Seat(s)</th>
                <th>Total amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.MovieName</td>
                    <td>@booking.ShowDate.ToString("dd-MM-yyyy")</td> 
                    <td>@(new DateTime(booking.StartTime.Ticks).ToString("hh:mm tt"))</td> 
                    <td>@booking.SeatNames</td>
                    <td>@booking.TotalAmount.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You have no bookings at the moment.</p>
}


