@model MovieTicketBooking.ViewModels.UpdatePasswordViewModel
@{
    ViewBag.Title = "Update Password";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/Content/customcss/updatePassword.css" rel="stylesheet" />
<div class="form-container">
    <h2>Update password</h2>

    @using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="input-container">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "error-message" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="input-container">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error-message" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="input-container">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error-message" })
            </div>
        </div>

        <div class="form-group">
            <div class="button-container">
                <button type="submit" class="btn">Update password</button>
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
</div>
