@model MovieTicketBooking.Models.ContactUs
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/customcss/contact.css" rel="stylesheet" />


<main aria-labelledby="title" class="contact-page">
    <div class="form-container">
        <h2 id="title">Contact us</h2>
        <h3>If you have any queries, feel free to contact us:</h3>

        @using (Html.BeginForm("SubmitEnquiry", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", required = "required" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message)
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "4", required = "required" })
                @Html.ValidationMessageFor(model => model.Message)
            </div>

            <input type="submit" value="Submit">
        }
    </div>

    <div class="info-container">
        <h2>Contact Information</h2>
        <p><strong>Address:</strong> Kerala, Cochin South</p>
        <p><strong>Phone:</strong> +91 9946850722</p>
        <p><strong>Email:</strong> <a href="mailto:info@CineTickets.com">info@CineTickets.com</a></p>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.0626727763794!2d76.26730447486787!3d9.931233192887295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d214ce6e9e3%3A0x5a45d28c6f4d4af2!2sKochi%2C%20Kerala%2C%20India!5e0!3m2!1sen!2sus!4v1693641145589!5m2!1sen!2sus"
                    width="100%"
                    height="100%"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy">
            </iframe>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}